@font-face {
    font-family: 'Supercell Headline';
    src: url("./assets/vertopal.com_supercellheadline-heavy.ae61f14f.ttf");
}

@font-face {
    font-family: 'Supercell text_regular';
    src: url("./assets/supercelltext_light.ttf");
}

@font-face {
    font-family: 'Supercell text_bold';
    src: url("./assets/supercelltext_bold.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

.games{
    height: 100%;
    width: 100%;
    background-color: white;
    
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    height: 10vh;
    width: 85vw;
    background-color: black;
    margin-left: 7.5vw;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    z-index: 1000;
}
.nav-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content:flex-start; */
    align-items: center;
    
}
.nav-left a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 16px;
    color: grey;
    font-family: "Supercell text_regular";
    font-weight: bold;
    
    

}

.nav a:hover{
    color: white;

}
.nav-right{
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    align-items: center;
    flex-wrap: wrap;
    /* margin-left: auto; */
    
}

.nav-right img{
    height: 25px;
    margin: 0 15px;

}

.nav-right a:hover img {
    filter: brightness(0) invert(1);
}

.hero{

    
    font-family: 'Supercell Headline';
    height: 75%;
    width: 100%;
    background-color: burlywood;
    background-image: url("./assets/bg_hero_games.79b5a33d.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.hero ha{
    font-size: 20px;
 
    font-family: Arial, Helvetica, sans-serif;
}

.hero h{
    margin-bottom: 15px;
    font-size: 60px;

}

.cards{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    justify-content: center;;

    /* height: 60vh; */
    width: 100%;
    margin: 60px 0 0 0 ;
}

.c{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    /* height: 500px; */
    margin: 0 15px 15px 15px;
    
    /* background-color: aquamarine; */


}
.c img{
    width: 580px;
    height: 450px;
    
}
.c h{
    font: 15px 'Supercell text_bold';
    text-transform: uppercase;
    color: hotpink;
    
}
.c a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    
    margin: 10px;
    font-family: "Supercell text_regular";
    text-align: center;
   
    
}

.poster{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25vh;
    width: 100%;
    background-color: #245fc6 ;
    align-items: center;
    justify-content: space-between;
    /* padding: auto; */
}

.poster button{
    cursor: pointer;
}
.p-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 250px;
    flex-wrap: wrap;

}

.p-left h{
    font-family: 'Supercell Headline';
    font-size: 30px;
    color: white;
    /* margin-left: 10vw; */
 
  
}


.p-left button{
    cursor: pointer;
    height: 40px;
    width: 200px;
    border-radius: 7px;
    border-style: none;
    font-weight: bold;
    margin-top: 15px;
    background-color: white;
    
}


.p-right img{
    height: 250px;
    margin: -64px 130px 0 0;
}

.foot1{
    display: flex;
    flex-direction: row;
    background-color: black;    
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;;
}

.foot1 h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.f1-left{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    line-height: 2.5;
}
.f1icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
   
    
}

.f1icons img{
    height: 25px;
    width: 28px;
    margin-right: 20px;
}

.f1-right{
    display:flex ;
    flex-direction: row;
    margin-right: 100px;
    
}

.f1-right img{
    height: 50px;
    margin-left: 15px;
}

.line{
    
    width: 85vw;
    background-color: grey; /* A dark gray for a subtle line */
    margin-left: 102px;
    height: 0.7px;
    border: none;

    

}


.footer{
    height: 60vh;
    width: 100%;
    background-color: black;
    
}

.foot2{
    /* display: flex; */
    height: 40vh;
    width: 100%;
    background-color: black;
}
.f2-top{
    display: flex;
    flex-direction: row;
    height: 10vh;
    margin: 25px 0 0  100px;
    flex-wrap: wrap;

}

.f2-top a{
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 13.5px;
    margin-right: 20px;
}

.f2-bottom{
    display: flex;
    flex-direction: row;
    margin-top: -25px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f2-bottom p{
    color: grey;
    font-size: 13.5px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-weight:normal;
    margin-left: 100px;
}
.f2-bottom a{
    margin: 20px  100px 0 0;
}
